$icon-font-path:"/bower_components/sass-bootstrap/fonts/";
 @import'bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
 .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  @media screen and (max-width: 400px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.row {
  @media screen and (max-width: 400px) {
    margin-left: -10px;
    margin-right: -10px;
  }
}
nav {
  .githubFork {
    @media screen and (min-width: $screen-sm) {
      float: right;
    }
  }
  iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    /* can't target contents of iframe to float them right */
    margin-right: -75px;
  }
}
.cityList li {
  @media screen and (max-width: 550px) {
    width: 32%;
    text-align: center;
  }
}
.accountInfo {
  display: block;
  padding: 12px 15px;
  font-size: 14px;
  line-height: 1;
  border-radius: 4px;
  border: 1px solid #ddd;
}
#marketTable {
  tbody tr {
    height: 45px;
  }
  td {
    vertical-align: middle;
  }
  .dailySpecial {
    font-weight: bold;
  }
  .citySpecialty {
    font-size: .7em;
    text-align: center;
  }
  .itemNameColumn {
    width: 125px;
    @media screen and (max-width: $screen-xs) {
      width: 33%;
    }
    .fa-arrow-circle-up {
      color: red;
    }
    .fa-arrow-circle-down {
      color: green;
    }
    .itemName {
      @media screen and (max-width: $screen-xs) {
        font-size: 90%;
      }
    }
  }
  .itemPriceColumn {
    width: 100px;
    @media screen and (max-width: $screen-xs) {
      width: 23%;
    }
  }
  .purchasePrice {
    font-size: 75%;
  }
}
.transactions {
  ul {
    padding-left: 0px;
    li {
      list-style: none;
      padding: 5px;
      margin-bottom: 2px;
    }
  }
  table {
    max-height: 650px;
    overflow-y: scroll;
  }
}
