<div >
    <div class="modal-header">
        <h3 class="modal-title">Menu</h3>
    </div>
    <div class="modal-body">        
        <p>
            Having problems? Restart the game or chekout the tutorial.
        </p> 
        <div>
            <button class="btn btn-primary" ng-click="playGame()">Resume Playing</button>
            <button class="btn btn-danger" ng-click="resetGame()">Reset Game</button>
            <button class="btn btn-warning" ng-click="startTutorial()">Try Tutorial</button>    
        </div>        
    </div>    
</div>